@import "./variables.css";
.dialog-container {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   border: none;
   background-color: var(--primary-blue);
     border-radius: 5px;
}
.dialog-container form {
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  padding: 20px 0px;
}
.select-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
      margin-bottom: 20px;
}

.dialog-container textarea{
  display: inline-flex;
        font-size: 1.0rem;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 5px;
  border: 0;
  border: 2px solid var(--primary-white);
  resize: none;
  height: 100px;
  width: 100%;
    font-family: 'Montserrat',sans-serif;
  &:focus{
    outline: none;
  }
  &::placeholder{
    font-family: 'Montserrat',sans-serif;
    color: var(--secondary-black);
  }
}
.dialog-container label {
    font-size: 1.25rem;
  display: block;

  font-weight: 500;
  margin-bottom: 5px;
  color: var(--primary-white);;
}
.dialog-container input {
  display: inline-flex;
    font-size: 1.0rem;
  font-weight: 500;
  margin-bottom: 20px;
    padding: 5px 5px;
  border: 0;
   font-family: 'Montserrat',sans-serif;
    width: 100%;
  border: 2px solid var(--primary-white);
  &:focus{
    outline: none;
  }
  &::placeholder{
    font-family: 'Montserrat',sans-serif;
    color: var(--secondary-black);
  }
}
.dialog-btns-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.dialog-btns-div button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 3px;
}
.dialog-cancel {
  color: var(--primary-white);
  background-color: var(--secondary-red);

  border: 2px solid var(--primary-red);
  &:hover {
    background-color: transparent;
    color: var(--primary-red);
  }
}
.dialog-submit {
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: 2px solid var(--primary-green);
  &:hover {
    background-color: var(--secondary-green);
  }
}
.dialog-header{
  margin-top: 10px;
  text-align: center;
  color: var(--primary-white);
}
#dueDate{
  display: flex;
  align-items: center;
  justify-content: center;
}

